In [1]:
import numpy as np

In [28]:
A = np.array([[0,1],[2,3],[4,5]])
B = np.array([[0,4],[1,5],[2,6],[3,7]])

In [10]:
A = np.array([[0,1],[2,3],[4,5]])
B = np.array([[0,1,2,3],[4,5,6,7]])
np.dot(A, B)

array([[ 4,  5,  6,  7],
       [12, 17, 22, 27],
       [20, 29, 38, 47]])

In [25]:
random_multi_array = np.random.randint(4,47,(4,4))
random_multi_array

array([[32, 19, 45, 43],
       [11, 30, 35, 25],
       [26, 20, 42, 40],
       [14, 12, 21, 41]])

In [26]:
random_multi_array.max()

45